---
- name: Apply Grafana deployment
  kubernetes.core.k8s:
    state: present
    template: templates/grafana.k8s.yml.j2
    namespace: monitoring
  environment:
    K8S_AUTH_KUBECONFIG: "{{ ansible_env.HOME }}/.kube/config"
    K8S_AUTH_CONTEXT: minikube
