input {
    beats {
        port => {{ logstash_beats_port }}
    }
}

filter {
}

output {
    stdout {
        codec => rubydebug
    }
    elasticsearch {
        hosts => ["http://elasticsearch-service.monitoring.svc.cluster.local:{{ elasticsearch_port }}"]
        index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
    }
}
