global:
    scrape_interval: 15s

scrape_configs:
    - job_name: 'prometheus'
      static_configs:
        - targets: ['{{ minikube_ip.stdout }}:32100']

    - job_name: 'prodrec'
      metrics_path: /metrics
      static_configs:
        - targets: ['{{ minikube_ip.stdout }}:32001']
