filebeat.inputs:
  - type: filestream
    id: minikube-containers
    prospector.scanner.symlinks: true
    parsers:
      - container: ~
    paths:
      - /var/log/containers/*.log
    processors:
      - add_kubernetes_metadata:
          host: '${NODE_NAME}'
processors:
  - add_cloud_metadata: null
  - add_host_metadata: null
output.logstash:
  hosts:
    - 'logstash-service.monitoring.svc.cluster.local:{{ logstash_beats_port }}'
